<footer class="black">
  <div class="row text-center">
  <p class="small-12 medium-6 large-4 columns">Placec de l’étoile <br>
      - face à la mairie - <br>
      67000 Strasbourg</p>

  <div class="small-12 medium-6 large-4 columns resaux">
    <img src="../assets/img/insta.png" alt="">
    <img src="../assets/img/twitter.png" alt="">
    <img src="../assets/img/Facebook.png" alt="">
  </div>

  <p class="small-12 medium-6 large-4 columns">All rights reserved. - ©Le Bas Moteur - 2017</p>
  </div>
</footer>
