<section class="allsection black sectionformule">
  <div class="row">
    <h2 class="text-center">Nos formules</h2>
    <article class="small-12 medium-12 large-4 columns">
      <div class="filter">
        <h3 class="text-center">Pas trop stp !</h3>
        <ul>
          <li>1 sandwich Taille S</li>
          <li>1 boisson 33cl</li>
          <li>1 dessert ou</li>
          <li>1 café/cookie</li>
        </ul>
        <div class="circle">7€50</div>
      </div>
    </article>
    <article class="small-12 medium-12 large-4 columns">
      <div class="filter">
        <h3 class="text-center">À la bien</h3>
        <ul>
          <li>1 sandwich Taille M</li>
          <li>1 boisson 33cl</li>
          <li>1 dessert ou 1 salade</li>
          <li>+ 1 café/cookie</li>
        </ul>
      </div>
    </article>
    <article class="small-12 medium-12 large-4 columns">
      <div class="filter">
        <h3 class="text-center">Ça va faire mal !</h3>
        <ul>
          <li>1 salade</li>
          <li>1 sandwich Taille L</li>
          <li>1 boisson 50cl</li>
          <li>1 dessert</li>
          <li>1 café ou cookie</li>
        </ul>
      </div>
    </article>
  </div>
</section>
