<section class="allsection section1 row text-center">
  <h2>Le Bas-Moteur ? Quèsaco ?!</h2>
  <p><b>Le Bas Moteur</b> est un camion ravitailleur itinérant à <b>Strasbourg</b> et ses environs, nous
distribuons sandwichs, burgers, frites, salades, desserts et cafés
En effet, ce projet a pour idée de rapprocher les <b>produits de qualité</b> que nous
trouvons en France et la tradition de la street food développé aux Etats-Unis, dans le
but de mettre en avant une <b>street cuisine française</b> bien loin du traditionnel jambonbeurre
ou des chaînes de restauration rapide. <b>Le Bas Moteur</b> est à l’image de ses
deux créateurs, <b>Giusepe et Marco : simple et efficace</b>.</p>
</section>
