<section class="allsection localisation black">
  <div class="row">
  <article class="small-12 medium-12 large-6 columns">
    <h3 class="text-center">Quand ?</h3>
    Du Lundi au Vendredi : <br>
    <div class="text-center">10h45-18h30</div>
    Le Samedi : <br>
    <div class="text-center">10h30-21h30</div>
  </article>
  <article class="small-12 medium-12 large-6 columns text-center">
    <h3 class="text-center">Où ?</h3>
    Place de l'étoile <br> - face à la mairie - <br> 67000 Strasbourg
  </article>
</div>
</section>
