<section class="allsection text-center black">
  <div class="row">
  <h2>Ce pour quoi on se lève le matin</h2>
  <p>A l’origine du <b>Bas Moteur</b> il y a une idée simple : créer une société qu’on n’aurait
jamais envie de vendre. Mettre un coup de clef de 18 dans les molaires de la
malbouffe. Travailler avec des potes. Bosser quand on veut, où on veut, habillé
comme on veut. Créer des produits qu’on a nous-mêmes envie de consommer.
Toutes ces petites choses qui changent la vie, donnent du sens, et rendent le
travail… différent. Au bout il y aura le succès ou l’échec, nous verrons bien. Plus que
le but, c’est la route qui compte.
En créant notre <b>Food-Truck</b> une seule chose nous semblait évidente : nous voulions
des produits qui nous ressemblent : <b>simples, authentiques</b>, au plus proche de la
nature. Des produits sans prise de tête, faciles à comprendre et qui apportent
quelque chose de nouveau. Et surtout des produits <b>bons et sains</b>. Fastfood MAIS de
qualité !</p>
<a href="" class="large alert button">En savoir +</a>
</div>
</section>
